@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Inconsolata:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './colors.scss';
@import './sizes.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth !important;

  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: $primary-color;
  color: $fifth-color;
}

h1,
h2,
h3 {
  font-family: 'Raleway', serif;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

strong {
  font-weight: 700;
}

nav {
  background-color: $secondary-color;
}

footer {
  background-color: $third-color;
  color: $fifth-color;
}

em {
  display: block;
  font-style: italic;
}
ul {
  list-style-type: none;
}
